{% extends "dashboard-layout.html" %}

{% block title %}
<title>学生信息管理 - {{ siteName }}</title>
{% endblock %}

{% block css %}
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="vendor/datatables/select.bootstrap4.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">学生信息表</h4>
        <div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" id="editBtn"><i
                        class="far fa-edit text-light"></i></button>
                <button type="button" class="btn btn-primary" id="delBtn"><i
                        class="far fa-trash-alt text-light"></i></button>
                <button type="button" class="btn btn-primary" id="addBtn"><i
                        class="fas fa-plus text-light"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        {% for field in data["fields"] %}
                        <th>{{ field }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<form id="modalForm">
    <div class="modal fade" id="modalBox" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button id="modalSubmitBtn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</form>



{% endblock %}

{% block javascript %}
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="vendor/datatables/dataTables.select.js"></script>


<script>
    function submitSusses(jsResult) {
        table.ajax.reload();
        $('#modalBox').modal('toggle');
    }

    $(document).ready(function () {
        // 初始化 dataTable
        table = $('#dataTable').DataTable({
            ajax: {
                url: "{{ url_for('get_students_list') }}",
                dataSrc: ""
            },
            language: {
                url: '/js/demo/datatables-zh.json' // 语言文件
            },
            stripeClasses: [], // 禁止添加 odd class
            select: {
                style: "single"
            } // 只允许选择单行
        });

        var fields = $('#dataTable').dataTable().dataTableSettings[0].aoColumns; // 字段

        $("#addBtn").click(function () {
            $("#modalBody").children().remove() // 清空modal
            $("#modalLabel").text('添加学生信息');
            $("#modalSubmitBtn").text("保存");
            $("#modalSubmitBtn").unbind();
            $("#modalSubmitBtn").click(function () {
                var formData = new FormData();
                fields.map(x => {
                    formData.append(x.sTitle, $("#modalBody input[name='" + x.sTitle +
                        "']").val());
                });
                let url = "{{ url_for('student_add') }}";

                formAjax(url, formData, submitSusses);
            });
            fields.map(x => {
                $formItem = $("" +
                    "<div class=\"form-group\">" +
                    "<label for=\"" + x.sTitle + "\">" + x.sTitle + "</label>" +
                    "<input type=\"text\" class=\"form-control\" id=\"" + x.sTitle +
                    "\" name=\"" + x.sTitle + "\">" +
                    "</div>");
                $("#modalBody").append($formItem)
            });
            $('#modalBox').modal('toggle'); // 显示
        })
        $("#delBtn").click(function () {
            var columns = table.row({
                selected: true
            }).data();
            if (columns == undefined) {
                toastr["warning"]("执行删除操作前，请先选择一行数据。", "消息")
                return;
            }
            $("#modalBody").children().remove() // 清空modal
            $("#modalLabel").text('删除学生信息');
            $("#modalSubmitBtn").text("删除");
            $("#modalSubmitBtn").unbind();
            $("#modalSubmitBtn").click(function () {
                var formData = new FormData();
                formData.append("id", $("#modalBody input[name='id']").val());
                let url = "{{ url_for('student_del') }}";

                formAjax(url, formData, submitSusses);
            });
            for (let index = 0; index < fields.length; index++) {
                const field = fields[index];
                const column = columns[index];
                $formItem = $("" +
                    "<div class=\"form-group\">" +
                    "<label for=\"" + field.sTitle + "\">" + field.sTitle + "</label>" +
                    "<input type=\"text\" class=\"form-control\" id=\"" + field.sTitle +
                    "\" name=\"" + field.sTitle + "\" value=\"" + column + "\" readonly>" +
                    "</div>");
                $("#modalBody").append($formItem)
            }
            $('#modalBox').modal('toggle');
        })

        $("#editBtn").click(function () {
            var columns = table.row({
                selected: true
            }).data();
            if (columns == undefined) {
                toastr["warning"]("执行修改操作前，请先选择一行数据。", "消息")
                return;
            }
            $("#modalBody").children().remove() // 清空modal
            $("#modalLabel").text('修改学生信息');
            $("#modalSubmitBtn").text("修改");
            $("#modalSubmitBtn").unbind();
            $("#modalSubmitBtn").click(function () {
                var formData = new FormData();
                fields.map(x => {
                    formData.append(x.sTitle, $("#modalBody input[name='" + x.sTitle +
                        "']").val());
                });
                let url = "{{ url_for('student_edit') }}";

                formAjax(url, formData, submitSusses);
            });
            for (let index = 0; index < fields.length; index++) {
                const field = fields[index];
                const column = columns[index];
                $formItem = $("" +
                    "<div class=\"form-group\">" +
                    "<label for=\"" + field.sTitle + "\">" + field.sTitle + "</label>" +
                    "<input type=\"text\" class=\"form-control\" id=\"" + field.sTitle +
                    "\" name=\"" + field.sTitle + "\" value=\"" + column + "\">" +
                    "</div>");
                $("#modalBody").append($formItem)
            }
            $('#modalBox').modal('toggle');
        })
    });
</script>
{% endblock %}